header>nav{
    flex-direction: row;
    justify-content: space-around;
}
header>nav>div{
    width: auto;
    padding: 1em 5em;
    border-radius: 5px;
}
main>section#softwares>div{
    flex-direction: row;
    justify-content: space-between;
}
main>section#softwares>div>div:nth-child(1){
    width: 60%;
}
main>section#softwares>div>div:nth-child(2){
    width: 20%;
}
footer>section#services>ul>li{width: auto;}